<form>
  <div class="m-3">
    <div class="form-floating row mb-3">
      <input type="text" class="form-control" id="firstname" [value]="model.firstname">
      <label for="firstname">Firstname</label>
    </div>
    <div class="form-floating row mb-3">
      <input type="text" class="form-control" id="lastname" [value]="model.lastname">
      <label for="lastname">Lastname</label>
    </div>
    <div class="form-floating row mb-3">
      <input type="date" class="form-control date-input" id="birthdate">
      <label for="birthdate">Birthdate</label>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary btn-lg">Save</button>
    </div>
  </div>
</form>
