$primary: green;
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "~bootstrap/scss/bootstrap";
@import "~ngx-bootstrap/datepicker/bs-datepicker";

body {
  padding-top: $navbar-padding-y + $nav-link-height + $navbar-padding-y;
}

// Hide html5 date icon
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
