<button class="btn btn-outline-primary btn-xl mb-3" [routerLink]="['../create']">
  <i class="fa fa-plus"></i>
  New
</button>
<div *ngFor="let item of users;" class="card-header container-fluid bg-white p-0">
  <div class="row">
    <div class="col">
      <h5 class="card-body text-muted mb-2 pl-0">{{item.lastname}}, {{item.firstname}}</h5>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-primary btn-circle btn-lg m-1" [routerLink]="['../edit', item.id]">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-outline-primary btn-circle btn-lg m-1" (click)="delete(item)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
