<form>
  <div class="m-3">
    <div class="form-floating row mb-3">
      <input type="text" class="form-control" id="firstname">
      <label for="firstname">Firstname</label>
    </div>
    <div class="form-floating row mb-3">
      <input type="text" class="form-control" id="lastname">
      <label for="lastname">Lastname</label>
    </div>
    <div class="form-floating row mb-3">
      <input type="email" class="form-control" id="emailAddress">
      <label for="emailAddress">Email Address</label>
    </div>
    <div class="form-floating row mb-3">
      <input type="date" class="form-control" id="birthdate">
      <label for="birthdate">Birthdate</label>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary btn-lg">Save</button>
    </div>
  </div>
</form>
